body {
	background-color: #151515;
	text-align: center;
	margin-top: 100px;
}

a {
	color: #169;
}

img {
	border-radius: 150px;
	display: inline-block;
	position: relative;
}

.links {
	list-style: none;
	text-align: center;
	margin: 10px 0;
	padding: 0;
}

.links li {
	display: inline-block;
	margin: 0px 10px;
	position: relative;
}

.links a {
	font-size: 25px;
}

.animated {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
	0% {
		box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
	}

	50% {
		box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4);
	}

	100% {
		box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
	}

	50% {
		box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.3);
	}

	100% {
		box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
	}
}

.pulse {
  -webkit-animation-name: pulse;
          animation-name: pulse;
}